.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #2d3436;
  min-height: 100vh;
  color: #fff;
}

.h2 {
  font-size: 30px;
}

header {
  padding: 10px;
  text-align: center;
  height: 10vh;
  display: flex;
}

.intro {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.intro-p {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.intro-sm {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

form {
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}

input {
  border: none;
  height: 70px;
  width: 50%;
  font-size: 20px !important;
  padding-left: 10px;
  background-color: #242a2c;
  color: #fff;
  border: 2px solid #2c3436a1;
}

button {
  background-color: #636e72;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  border: none;
}

img {
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  padding: 50px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #232a2c;
}

.col-md-3 {
  display: flex;
  justify-content: center;
}